* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
  grid-gap: 0em;
  display: grid;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
}

#newRoomButton {
  background-color: pink;
  font-weight: bold;
  height: 5em;
  width: 8em;
  margin-right: 1em;
  margin-top: 1em;
  grid-area: 2 / 2 / 2 / 2;
  font-size: 0.8em;
  align-self: flex-start;
}

#headlineHomepage {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bolder;
}

#introText {
  margin: 0.8em;
  text-align: left;
  grid-area: 2 / 1 / 2 / 1;
  font-size: 1.2em;
  font-weight: bolder;
  justify-self: center;
}

@media (min-width: 390px) {
  #headlineHomepage {
    font-size: 3em;
  }
}

@media (min-width: 780px) {
  .wrapper {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 1fr;
  }

  #headlineHomepage {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    font-size: 8em;
  }

  #newRoomButton {
    grid-area: 2 / 2 / 2 / 3;
    font-size: 2em;
    align-items: center;
  }

  #introText {
    grid-area: 2 / 1 / 2 / 2;
    font-size: 3em;
  }
}
