* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6b352;
}

.wrapper {
  grid-template-rows: 1fr 0.5fr 2fr;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  display: grid;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
}

#newRoomButton {
  font-weight: bold;
  grid-area: 3 / 1 / 4 / 2;
  font-size: 1em;
  width: 10em;
  padding: 2em;
  /* width: 10em;
  height: 10em; */
  align-self: flex-start;
  justify-self: center;
}

#headlineHomepage {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bolder;
  color: #1f2124;
}

#introText {
  margin: 0.8em;
  text-align: left;
  grid-area: 2 / 1 / 2 / 1;
  font-size: 1.2em;
  font-weight: bolder;
  justify-self: center;
  color: #1f2124;
}

@media (min-width: 375px) {
  #headlineHomepage {
    font-size: 3em;
  }
}

@media (min-width: 780px) {
  .wrapper {
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 3fr 1fr;
  }

  #headlineHomepage {
    padding-left: 0.3em;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    font-size: 8em;
  }

  #newRoomButton {
    grid-area: 3 / 1 / 4 / 2;
    font-size: 2em;
    align-items: center;
  }

  #introText {
    grid-area: 2 / 1 / 2 / 2;
    font-size: 3em;
  }
}
