* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 5fr 1fr 1fr;
  margin-left: 1em;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
}

#addMessageButton {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  font-size: 1em;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#headlineRoom {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  text-align: center;
  font-size: 4em;
  padding-left: 1em;
  padding-right: 1em;
}

#addedIdeasList {
  display: block;
  grid-column: 2 / 2;
  list-style-type: none;
  float: left;
}

#brainstormingItem {
  font-size: 1.6em;
  float: left;
  padding: 0.2em;
  margin: 1em;
  text-decoration: none;
  border-radius: 1em;
  border-bottom-left-radius: 0em;
  background-color: rgb(255, 255, 255);
}

#removeItemButton {
  justify-items: end;
  background: none !important;
  border: 0em;
  font-size: medium;
  font-weight: bold;
  cursor: -moz-grab;
  color: #383a3f;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  padding: 1em;
}

#removeItemButton:hover {
  color: #f6b352;
  text-decoration: underline;
}

#writeIdeaArea {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  height: 3em;
  font-size: 2em;
  overflow: auto;
  resize: none;
}

#errorMessageNoTextGiven {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  font-size: 1.4em;
  text-decoration: underline;
  padding-left: 1em;
  margin-left: 0.4em;
  font-style: italic;
  background-color: firebrick;
  color: white;
}

@media (min-width: 740px) {
  #wrap {
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row-gap: 0.5em;
  }

  #headlineRoom {
    font-size: 8em;
    grid-column: 1 / span 3;
  }
}
