* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 5fr 1fr 1fr;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
}

#addMessageButton {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  padding: 1em;
  margin: 1em;
  background-color: pink;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#headlineRoom {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  text-align: center;
  font-size: 8em;
  padding-left: 1em;
  padding-right: 1em;
}

ul {
  display: block;
  grid-column: 2 / span 1;
  list-style-type: disc;
  overflow: auto;
}

li {
  font-size: 3em;
}

#writeIdeaArea {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  font-family: Arial, Helvetica, sans-serif;
}
